---
import React from 'react'
import ReactMarkdown from 'react-markdown'
import Switch from '../components/Switch'
import '../styles/Switchboard.css'
import Layout from "@/layouts/Layout.astro";
import presentation from "@/data/presentation";
---

<Layout>
  <main className="text-align-center">
    <h1 className="text-3xl font-bold text-neutral-100">Izzy's Switchboard</h1>
    <br />
    <h2>Beans:</h2>
    <h2>Harris:</h2>
    <h2>Saggy MC:</h2>
    <h2>Ark:</h2>
    <br />
    <Switch />
  </main>
</Layout>
